@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
    int order = 1;
}
<a asp-action="Create" asp-controller="User" class="btn btn-success">Create</a>
<table class="table text-center table-bordered my-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Founder</th>
            <th>Comment</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(order++)</td>
            <td><img width="50" src="~/assets/image/@item.Image" /></td>
            <td>@item.FullName</td>
            <td>@item.Founder</td>
            <td>@item.Comment</td>
            <td><a asp-action="Edit" asp-controller="User" asp-route-id="@item.Id" class="btn btn-info">Edit</a></td>
            <td>
                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>